/*!
 * Start Bootstrap - Grayscale v4.0.0-alpha (http://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
body {
  width: 100%;
  height: 100%;
  font-family: 'Inconsolata', monospace;
  color: white;
  background-color: #2B2B2B;
  position: relative; }

html {
  width: 100%;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  letter-spacing: 1px; }

p {
  margin: 0 0 25px;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 768px) {
    p {
      margin: 0 0 35px;
      font-size: 18px;
      line-height: 1.6; } }

a {
  color: #42DCA3;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    color: #1d9b6c; }

#mainNav {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: 'Inconsolata', monospace;
  background-color: #2B2B2B; }
  #mainNav .navbar-toggler {
    color: white;
    font-size: 14px;
    border: 1px solid white;
    padding: 11px; }
  #mainNav .navbar-brand {
    font-weight: 700; }
  #mainNav a {
    color: white; }
  #mainNav .navbar-nav a.nav-item {
    padding: 15px 10px;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out; }
    #mainNav .navbar-nav a.nav-item:hover {
      color: fade(white, 80%);
      outline: none;
      background-color: transparent; }
    #mainNav .navbar-nav a.nav-item:focus, #mainNav .navbar-nav a.nav-item:active {
      outline: none;
      background-color: transparent; }
    #mainNav .navbar-nav a.nav-item.active {
      outline: none;
      background-color: #2B2B2B; }
      #mainNav .navbar-nav a.nav-item.active:hover {
        color: white; }
  @media (min-width: 768px) {
    #mainNav {
      padding: 20px 0;
      border-bottom: none;
      letter-spacing: 1px;
      background: transparent;
      -webkit-transition: background .25s ease-in-out,padding .25s ease-in-out;
      -moz-transition: background .25s ease-in-out,padding .25s ease-in-out;
      transition: background .25s ease-in-out,padding .25s ease-in-out; }
      #mainNav.navbar-shrink {
        padding: 10px 0;
        background-color: #2B2B2B; } }

.intro {
  display: table;
  width: 100%;
  height: 60%;
  padding: 100px 0;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  color: white;
  background-color: #2B2B2B;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }
  .intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    color: #FFB100; }
    .intro .intro-body .intro-text {
      border-right: .15em solid #FFB100;
      letter-spacing: .15em;
      animation: blink-caret .75s step-end infinite; }

@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #FFB100; } }
  @media (min-width: 768px) {
    .intro {
      height: 60%;
      padding: 0; }
      .intro .intro-body .brand-heading {
        font-size: 150px; }
      .intro .intro-body .text-border {
        border-left: 10px solid #fff; }
      .intro .intro-body .intro-text {
        font-size: 30px; } }

.btn-circle {
  width: 50px;
  height: 50px;
  margin-top: 15px;
  padding: 7px 0;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 26px;
  color: white;
  background: transparent;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }
  .btn-circle:hover, .btn-circle:focus {
    outline: none;
    color: white;
    background: rgba(255, 255, 255, 0.1); }

.content-section {
  padding-top: 150px; }
  .content-section__about {
    padding-top: 25px; }

.about-section .about-header {
  border-top: 2px solid #FFB100;
  border-bottom: 2px solid #FFB100;
  padding: 15px; }

.about-section .about-element__inner {
  padding: 15px; }

.project-section {
  padding-top: 25px; }
  .project-section .project-header {
    border-top: 2px solid #FFB100;
    border-bottom: 2px solid #FFB100;
    padding: 15px; }
  .project-section .project-element {
    padding: 20px;
    height: 250px;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid #FFB100; }
    .project-section .project-element__inner {
      font-size: 14px; }
  .project-section .repoBtn {
    bottom: 35px;
    right: 25px; }
  .project-section .repoImg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 35px;
    left: 25px; }

.repoWrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.repoItem {
  padding: 20px;
  height: 250px;
  margin-bottom: 25px;
  width: 500px;
  border: 2px solid #FFB100;
  position: relative; }

.repoBtm {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px; }

.contact-section .contact-header {
  border-top: 2px solid #FFB100;
  border-bottom: 2px solid #FFB100;
  padding: 15px; }

.contact-section .contact-element {
  border: 2px solid #FFB100;
  padding: 20px;
  height: 250px;
  margin-bottom: 10px; }
  .contact-section .contact-element__inner {
    font-size: 14px; }

@media (min-width: 767px) {
  .content-section {
    padding-top: 250px; }
  .download-section {
    padding: 100px 0; }
  #map {
    height: 350px;
    margin-top: 250px; } }

.btn {
  text-transform: uppercase;
  font-family: "Cabin","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0; }

.btn-default {
  border: 1px solid #FFB100;
  color: #FFB100;
  background-color: transparent; }
  .btn-default:hover, .btn-default:focus {
    border: 1px solid #FFB100;
    outline: none;
    color: black;
    background-color: #FFB100; }

ul.banner-social-buttons {
  margin-top: 0; }
  @media (max-width: 1199px) {
    ul.banner-social-buttons {
      margin-top: 15px; } }
  @media (max-width: 767px) {
    ul.banner-social-buttons li {
      display: block;
      margin-bottom: 20px;
      padding: 0; }
      ul.banner-social-buttons li:last-child {
        margin-bottom: 0; } }

footer {
  padding: 50px 0; }
  footer p {
    font-size: 14px;
    margin: 0; }

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }
