@import "variables.scss";
@import "mixins.scss";

@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    width: 100%;
    height: 100%;
    font-family: 'Inconsolata', monospace;
    color: white;
    background-color: #2B2B2B;
    position: relative;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 1.5;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 18px;
        line-height: 1.6;
    }
}

a {
    color: $primary;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($primary,20%);
    }
}

#mainNav {
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Inconsolata', monospace;
    background-color: #2B2B2B;
    .navbar-toggler {
        color: white;
        font-size: 14px;
        border: 1px solid white;
        padding: 11px;
    }
    .navbar-brand {
        font-weight: 700;
    }
    a {
        color: white;
    }
    .navbar-nav {
        a.nav-item {
            padding: 15px 10px;
            -webkit-transition: background .3s ease-in-out;
            -moz-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out;
            &:hover {
                color: fade(white, 80%);
                outline: none;
                background-color: transparent;
            }
            &:focus,
            &:active {
                outline: none;
                background-color: transparent;
            }
            &.active {
                outline: none;
                background-color: #2B2B2B;
                &:hover {
                    color: white;
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .25s ease-in-out,padding .25s ease-in-out;
        -moz-transition: background .25s ease-in-out,padding .25s ease-in-out;
        transition: background .25s ease-in-out,padding .25s ease-in-out;
        &.navbar-shrink {
            padding: 10px 0;
            background-color: #2B2B2B;
        }
    }
}

.intro {
    display: table;
    width: 100%;
    height: 60%;
    padding: 100px 0;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    color: white;
    background-color: #2B2B2B;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        color: #FFB100;
        .intro-text {
            border-right: .15em solid #FFB100;
            letter-spacing: .15em; 
            animation: 
                blink-caret .75s step-end infinite;
        }

        @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: #FFB100 }
        }
    }
    @media(min-width:768px) {
        height: 60%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 150px;
            }
            .text-border {
                border-left: 10px solid #fff;
            }
            .intro-text {
                font-size: 30px;
            }
        }
    }
}

.btn-circle {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    padding: 7px 0;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 26px;
    color: white;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: white;
        background: fade-out(white, 0.9);
    }
}

.content-section {
    padding-top: 150px;

    &__about {
        padding-top: 25px;
    }
}

.about-section {
    .about-header {
        border-top: 2px solid #FFB100;
        border-bottom: 2px solid #FFB100;
        padding: 15px;
    }

    .about-element {

        &__inner {
            padding: 15px;
        }

    }
}

.project-section {
    padding-top: 25px;
    .project-header {
        border-top: 2px solid #FFB100;
        border-bottom: 2px solid #FFB100;
        padding: 15px;
    }

    .project-element {
        padding: 20px;
        height: 250px;
        margin-bottom: 25px;
        width: 100%;
        border: 2px solid #FFB100;

        &__inner {
            font-size: 14px;
        }
    }

    .repoBtn {
        bottom: 35px;
        right: 25px;
    }

    .repoImg {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        bottom: 35px;
        left: 25px;
    }
}

.repoWrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.repoItem {
    padding: 20px;
    height: 250px;
    margin-bottom: 25px;
    width: 500px;
    border: 2px solid #FFB100;
    position: relative;
}

.repoBtm {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
}


.contact-section {
    .contact-header {
        border-top: 2px solid #FFB100;
        border-bottom: 2px solid #FFB100;
        padding: 15px;
    }

    .contact-element {
        border: 2px solid #FFB100;
        padding: 20px;
        height: 250px;
        margin-bottom: 10px;

        &__inner {
            font-size: 14px;
        }

    } 
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 350px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: "Cabin","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid #FFB100;
    color: #FFB100;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid #FFB100;
        outline: none;
        color: black;
        background-color: #FFB100;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    padding: 50px 0;
    p {
        font-size: 14px;
        margin: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: fade-out(white, 0.8);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: fade-out(white, 0.8);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}